
#content {
    max-width: 1600px;
}
#content {    
    width: 80%x; 
    margin: 0 auto;
    text-align: center;
}

.home-title {
    text-align: center;
}

#background {
    height: 725px;
}

body {
    background-color: #fcfbfb; 
}
header {
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    background-color: black;
}



