#content {
    max-width: 1600px;
    margin: 0 auto;
}
.head {
    background-color: royalblue;
}

.meg-title {
    font-size: 4em;
    text-align: center;
}
.spyglass-girl {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #c0d7cf;
}
.spy-banner {
    background-color: #c0d7cf;
    margin: auto;
}
.code-chart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10PX;
    width: 800px;
}
.code {
    text-align: center;
    text-shadow: 2mm;
}
.code1pic {
    display: block;
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
    background-color: crimson;
    width: 900px;
}
.assignment {
    background-color: crimson;
}
.warning {
    text-align: center;
    font-size: 2em;
}
.warn {
    text-align: center;
    color: red;
}
.qr {
    display: block;
    padding: 50px;
    background-color: #c0d7cf;
}
.qr2 {
    display: block;
    padding: 50px;
    background-color: #c0d7cf;
}
.dunkin {
    padding: 30px;
    background-color: #c0d7cf;
    width: 600px;
}