body {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    text-align: center;
    justify-content: center;
    background-color: black
}

#bridge {
    align-items: center;

}

.center {
    display: block;
    margin: auto;
    width: 100%;
}
img {
    margin: auto;
    display: block;
    grid-column: 1/4;
    border-radius: 5% 5% 0 0;
}

h3 {
    background-color: rgb(56, 56, 163);
    color: white;
    border-color: white;
    border: 2px;
    border-radius: 10%;
}
h1 {
    grid-column: 1/4;
    background-color: white;
}

p {
    grid-column: 1/4;
    margin: 30px;
    background-color: white;

}

h4 {
    text-align: center;
    grid-column: 1/4;
}
div {
    background-color: white;
    grid-column: 1/4;
}